@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* Variables */
:root {
  --font-family: 'Roboto', sans-serif;
  --font-size-base: 0.925rem;
  --base-color: #66f;
  --text-dark: #3c4250;
  --border-color: #eceef3;

  --navbar-body-color: #fff;
  --navbar-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --navbar-padding-y: 1rem;
  --navbar-padding-x: 1.15rem;

  --navbar-link-hover: var(--base-color);
  --navbar-dropdown-padding-y: 0.5rem;
  --navbar-dropdown-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --navbar-dropdown-radius: 0.75rem;

  --navbar-dropdown-item-padding-y: 0.25rem;
  --navbar-dropdown-item-padding-x: 1rem;

  --navbar-dropdown-separator-margin-y: 9px;
  --navbar-dropdown-separator-color: var(--border-color);
}

/* General Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Fonts and Base Styles */
body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
}

a {
  text-decoration: none;
}

/* Container Styles */
.navbar-container {
  width: 1170px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Navbar Styles */

.navbar > .navbar-container {

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  width: 100%;
  box-shadow: var(--navbar-shadow);
  background-color: var(--navbar-body-color);
  padding: var(--navbar-padding-y) var(--navbar-padding-x);
  border-bottom: 1px solid var(--border-color);
}

/* Navbar Logo */
.navbar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}




.navbar-header > a {
  font-weight: 500;
  color: var(--text-dark);
}


.navbar-menu{
    width:70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}



.navbar-menu > li > a {
  font-size: 16px;
  color: var(--text-dark);
  text-decoration: none;
  display: inline-block;
  padding: var(--navbar-link-padding-y) var(--navbar-link-padding-x);
}

.navbar-menu > li > a:hover {
  color: var(--navbar-link-hover);
}



.navbar .navbar-header h4 {
  font-weight: 500;
  font-size: 1.25rem;
}



.btn-login {
  padding: 10px 20px;
  background-color: #1C84FF;
  border-radius: 4px;
  
}
.btn-login > a{
    color:white!important;

}


.btn-login:hover {
  background-color: #165db4;
}

.product-container{
  display:flex;
  flex-wrap:wrap;
}

.product-card {
    width: 380px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background:  #f0f0f0;
    cursor:pointer;
  transition: transform .2s; 
}
.product-card:hover{
   transform: scale(1.03);
   border:1px solid gray;
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #fafafa;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 30px;
}


.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #fbb72c;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details {
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

/* CSS for Add to Cart button */
.add-to-cart {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
}









.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
  }
  
  .footer > * {
    flex:  1 100%;
  }
  
  .footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  
  .footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
  }
  
  .footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
  }
  
  .nav__title {
    font-weight: 400;
    font-size: 15px;
  }
  
  .footer address {
    font-style: normal;
    color: #999;
  }
  
  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2em;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer__nav {
    display: flex;
      flex-flow: row wrap;
  }
  
  .footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
  
  .nav__ul a {
    color: #999;
  }
  
  .nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
  }
  
  .legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
  }
    
  .legal__links {
    display: flex;
    align-items: center;
  }
  
  .heart {
    color: #2f2f2f;
  }
  
  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
    
    .nav__item--extra {
      flex-grow: 2;
    }
    
    .footer__addr {
      flex: 1 0px;
    }
    
    .footer__nav {
      flex: 2 0px;
    }
  }